head
	link(href='/background.css', rel='stylesheet')


div(class="login-header")
	h3 Eclectic 
	h4 General info

div(class="login")
	div(class="login-form")
		form(action="/generalinfo" method="post")
			h3 You are a 
				select(name="gender")
					option(value="null") -
					option(value="female") Female
					option(value="male") Male
			br
			h3 How old are you ? 
				select(name="age")
					option(value="null") -
					- var n = 18;
					while n < 50
						option(value=""+n)=n
						p=n++
			br
			h3 Looking for people between 
				select(name="minage")
					option(value="null") -
					- var n = 18;
					while n < 50
						option(value=""+n)=n
						p=n++
			br
			h3 and 
				select(name="maxage")
					option(value="null") -
					- var n = 18;
					while n < 50
						option(value=""+n)=n
						p=n++
			br
			br
			button(type="submit") Next 


