head
	link(href='/background.css', rel='stylesheet')
	script(src="/DragDropTouch.js")
	script(src="/jquery-3.2.1.min.js")


div(class="login-header")
	h4 Sort your matches
br

div(id="columns",group="group") 
	each user in users
		div(class="column container2",draggable="true",id=user._id)
			div
				header=user.local.email+" ( "+ user.age+" yo)"
			div
				span="compatibility : "+user.compatibility+ " %"

			img(src="http://www.bowerplace.com.au/wp-content/themes/bridge-child/img/default_avatar_community.png")

div(id="throwout",group="group") 

br
div(class="login-form")
	button(id="sorted", class="asbestos-flat-button") Validate
script(src="/match.js")



each user in users
	div(class=user._id+" modal")
		p="Username :"+ user.local.email
		img(src="http://www.bowerplace.com.au/wp-content/themes/bridge-child/img/default_avatar_community.png")
		p="Age : "+user.age
		p="compatibility : "+user.compatibility+ " %"
		p="gender : "+user.gender+ " %"